@page "/admin"
@using Kalium.Client.Admin
@using Kalium.Shared.Consts
@inherits DashboardModel

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-block">
                <div class="inline-block">
                    <h1 class="no-mrg-vertical">$@EarningToday</h1>
                    <p>Today</p>
                </div>
                <div class="pdd-top-25 inline-block pull-right">
                    <span class="label label-success label-lg mrg-left-5">+100%</span>
                </div>
                <div class="mrg-top-25">
                    <div id="bar-config"><canvas style="display: inline-block; vertical-align: top; width: 179px; height: 60px;" width="179" height="60"></canvas></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <p class="mrg-btm-5">This Month</p>
                <h1 class="no-mrg-vertical font-size-35">$@(@EarningThisMonth.ToString("G"))</h1>
                <p class="text-semibold">Total Revenue</p>
                <div class="mrg-top-10">
                    @* <h2 class="no-mrg-btm">@Per</h2> *@
                    <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Paid in cash</span>
                    <span class="pull-right pdd-right-10 font-size-13">@PercentageCash%</span>
                    <div class="progress progress-primary">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:@PercentageCash%">
                        </div>
                    </div>
                </div>
                <div class="mrg-top-10">
                    <h2 class="no-mrg-btm"></h2>
                    <span class="inline-block mrg-btm-10 font-size-13 text-semibold">Paid by PayPal</span>
                    <span class="pull-right pdd-right-10 font-size-13">@PercentagePayPal%</span>
                    <div class="progress progress-success">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:@PercentagePayPal%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card">
            <div class="row">
                <div class="col-md-8">
                    <div class="maps map-500 padding-20">
                        <div id="monthly-target">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 border left border-hide-sm">
                    <div class="card-block">
                        <h2>Allocation </h2>
                        <div class="mrg-top-40">
                            <div>
                                <canvas height="230" id="allocation-chart"></canvas>
                            </div>
                        </div>
                        <div class="widget-legends mrg-top-30">
                            @foreach (var cat in CategoryDistribution)
                            {
                                <div class="relative mrg-top-15">
                                    <span class="status info"> </span>
                                    <span class="pdd-left-20 font-size-16"><b class="text-dark">@(Math.Round(cat.ProductCount * 100.0 / CategoryCount))%</b>&nbsp;&nbsp;@cat.Name</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-none d-md-inline-block">
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="pdd-vertical-5">
                                        <p class="no-mrg-btm"><b class="text-dark font-size-16">5</b> Customers</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="pdd-vertical-5">
                                        <p class="no-mrg-btm"><b class="text-dark font-size-16">4</b> Orders</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="pdd-vertical-5">
                                        <p class="no-mrg-btm"><b class="text-dark font-size-16">528</b> Stock Left</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="pdd-vertical-5">
                                        <p class="no-mrg-btm"><b class="text-dark font-size-16">12</b> Pending</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-md-12">
        <div class="widget card">
            <div class="card-block">
                <h5 class="card-title">Monthly Overview</h5>
                <div class="row mrg-top-30">
                    <div class="col-md-3 col-sm-6 col-6 border right border-hide-md">
                        <div class="text-center pdd-vertical-10">
                            <h2 class="font-primary no-mrg-top">8%</h2>
                            <p class="no-mrg-btm">APPL</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 border right border-hide-md">
                        <div class="text-center pdd-vertical-10">
                            <h2 class="font-primary no-mrg-top">$1,730</h2>
                            <p class="no-mrg-btm">M.AVG</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6 border right border-hide-md">
                        <div class="text-center pdd-vertical-10">
                            <h2 class="font-primary no-mrg-top">77%</h2>
                            <p class="no-mrg-btm">Increment</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <div class="text-center pdd-vertical-10">
                            <h2 class="font-primary no-mrg-top">18%</h2>
                            <p class="no-mrg-btm">Profit</p>
                        </div>
                    </div>
                </div>
                <div class="row mrg-top-35">
                    <div class="col-md-12">
                        <div>
                            <canvas id="line-chart" height="220"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12">
        <div class="card">
            <div class="card-heading">
                <h4 class="card-title inline-block pdd-top-5">Latest Transaction</h4>
                <a href="/admin/manage-order" class="btn btn-default pull-right no-mrg">All Transaction</a>
            </div>
            <div class="pdd-horizon-20 pdd-vertical-5">
                <div class="overflow-y-auto relative scrollable ps-container ps-theme-default ps-active-y" style="max-height: 381px" data-ps-id="c155eaa8-9e9a-fe42-cd7e-fe6392263f94">
                    <table class="table table-lg table-hover">
                        <tbody>
                            @foreach (var order in LatestOrders)
                            {
                                <tr>
                                    <td>
                                        <div class="list-info">
                                            <img class="thumb-img" src="@order.UserAvatar" alt="">
                                            <div class="info">
                                                <span class="title">@order.UserName</span>
                                                <span class="sub-title">ID @order.Id</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-10">
                                            <span>@order.DateCreated.ToShortDateString()</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="relative mrg-top-10">
                                            @if (order.Status == (int)Consts.OrderStatus.Processing)
                                            {
                                                <span class="status primary"></span>
                                            }
                                            else if (order.Status == (int)Consts.OrderStatus.Delivering)
                                            {
                                                <span class="status away"> </span>
                                            }
                                            else if (order.Status == (int)Consts.OrderStatus.Delivered)
                                            {
                                                <span class="status online"></span>
                                            }
                                            else if (order.Status == (int)Consts.OrderStatus.Cancelled)
                                            {
                                                <span class="status danger"> </span>
                                            }
                                            <span class="pdd-left-20">@(((Consts.OrderStatus)order.Status).Name())</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 381px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 379px;"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7 col-md-6">
        <div class="card">
            <div class="card-heading">
                <h4 class="card-title inline-block pdd-top-5">Top Users</h4>
                <a href="/admin/manage-user" class="btn btn-default pull-right no-mrg">All Users</a>
            </div>
            <div class="pdd-horizon-20 pdd-vertical-5">
                <div class="overflow-y-auto relative scrollable ps-container ps-theme-default ps-active-y" style="max-height: 381px" data-ps-id="c155eaa8-9e9a-fe42-cd7e-fe6392263f94">
                    <table class="table table-lg table-hover">
                        <tr>
                            <td>Name</td>
                            <td>Total</td>
                        </tr>
                        <tbody>
                            @foreach (var user in TopUsers)
                            {
                                <tr>
                                    <td>
                                        <div class="list-info">
                                            <img class="thumb-img" src="@user.RealAvatar" alt="">
                                            <div class="info">
                                                <span class="title">@user.UserName</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-10">
                                            <span>$@user.TotalPaidBackup</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 381px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 379px;"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6">
        <div class="card">
            <div class="card-heading">
                <h4 class="card-title inline-block pdd-top-5">Top Categories</h4>
                <a href="/admin/manage-category" class="btn btn-default pull-right no-mrg">All Categories</a>
            </div>
            <div class="pdd-horizon-20 pdd-vertical-5">
                <div class="overflow-y-auto relative scrollable ps-container ps-theme-default ps-active-y" style="max-height: 381px" data-ps-id="c155eaa8-9e9a-fe42-cd7e-fe6392263f94">
                    <table class="table table-lg table-hover">
                        <tr>
                            <td>Name</td>
                            <td>Product</td>
                        </tr>
                        <tbody>
                            @foreach (var cat in TopCategories)
                            {
                                <tr>
                                    <td>
                                        <div class="list-info">
                                            <div class="info pl-0">
                                                <span class="title">@cat.Name</span>
                                                <span class="sub-title">ID @cat.Id</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-10">
                                            <span>@cat.ProductCount</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 381px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 379px;"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6">
        <div class="card">
            <div class="card-heading">
                <h4 class="card-title inline-block pdd-top-5">Top Brands</h4>
                <a href="/admin/manage-brand" class="btn btn-default pull-right no-mrg">All Brands</a>
            </div>
            <div class="pdd-horizon-20 pdd-vertical-5">
                <div class="overflow-y-auto relative scrollable ps-container ps-theme-default ps-active-y" style="max-height: 381px" data-ps-id="c155eaa8-9e9a-fe42-cd7e-fe6392263f94">
                    <table class="table table-lg table-hover">
                        <tr>
                            <td>Name</td>
                            <td>Earning</td>
                        </tr>
                        <tbody>
                            @foreach (var brand in TopBrands)
                            {
                                <tr>
                                    <td>
                                        <div class="list-info">
                                            <div class="info pl-0">
                                                <span class="title">@brand.Name</span>
                                                <span class="sub-title">ID @brand.Id</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-10">
                                            <span>$@brand.TotalEarningBackup</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 381px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 379px;"></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-6">
        <div class="card">
            <div class="card-heading">
                <h4 class="card-title inline-block pdd-top-5">Top Products</h4>
                <a href="/admin/manage-product" class="btn btn-default pull-right no-mrg">All Products</a>
            </div>
            <div class="pdd-horizon-20 pdd-vertical-5">
                <div class="overflow-y-auto relative scrollable ps-container ps-theme-default ps-active-y" style="max-height: 381px" data-ps-id="c155eaa8-9e9a-fe42-cd7e-fe6392263f94">
                    <table class="table table-lg table-hover">
                        <tr>
                            <td>Name</td>
                            <td>Earning</td>
                        </tr>
                        <tbody>
                            @foreach (var product in TopProducts)
                            {
                                <tr>
                                    <td>
                                        <div class="list-info">
                                            <div class="info">
                                                <img class="thumb-img" src="@product.MainImage.Url" alt="">
                                                <span class="title">@product.Name</span>
                                                <span class="sub-title">ID @product.Id</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mrg-top-10">
                                            <span>$@product.TotalEarningBackup</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 381px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 379px;"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>