@page "/admin/manage-category"
@using Kalium.Client.Admin
@using Kalium.Shared.Consts
@inherits ManageCategoryModel

<div class="container-fluid">
    <div class="page-title">
        <h4>Category</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div>
                    <a class="btn btn-default ml-4 mt-4" data-toggle="modal" data-target="#create-category">
                        <i class="ti-plus pdd-right-5"></i>
                        <span>New</span>
                    </a>                    
                </div>
                <div class="card-block dataTables_wrapper">
                    <div class="dataTables_length d-inline-block">
                        <label>
                            Sort:
                            <select name="dt-opt_length" aria-controls="dt-opt" onchange="@(async e =>
                                                                                            {
                                                                                                await ChangeSortType((Consts.SortType) int.Parse(e.Value.ToString()));
                                                                                            })">
                                <option value="@((int) Consts.SortType.Newness)"><a>Newest first</a></option>
                                <option value="@((int) Consts.SortType.Popularity)"><a>Most common first</a></option>
                            </select>
                        </label>
                    </div>
                    <div id="dt-opt_filter" class="dataTables_filter d-inline-block float-right">
                        <label>
                            Search:
                            <input onchange="@((e) => SearchPhrase(e.Value.ToString()))" class="" placeholder="" aria-controls="dt-opt" type="search"/>
                        </label>
                    </div>
                    @if (Categories != null && Categories.Any())
                    {
                        <div class="table-overflow">
                            <table id="dt-opt" class="table table-lg table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Product Count</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var cat in Categories)
                                {
                                    <tr>
                                        <td>
                                            <div class="list-info mrg-top-10">
                                                @* <img class="thumb-img" src="@product.MainImage?.Url" alt=""> *@
                                                <div class="info pl-0">
                                                    <span class="title">
                                                        <input class="form-control border-0" type="text" required bind="@cat.Name"/>
                                                    </span>
                                                    @* <span class="sub-title">ID @cat.Id</span> *@
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15">
                                                @if (cat.ProductCount > 0)
                                                {
                                                    <span class="status online"> </span>
                                                    <span class="pdd-left-20">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="status away"> </span>
                                                    <span class="pdd-left-20">Inactive</span>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span><b>@cat.ProductCount</b></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-10 text-center">
                                                <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle" onclick="@(() => Save(cat))">
                                                    <i class="ti-save"></i>
                                                </button>
                                                <button class="btn btn-icon btn-flat btn-rounded dropdown-toggle" data-toggle="modal" data-target="#delete-category" onclick="@(() => ToDelete = cat)">
                                                    <i class="ti-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <div class="dataTables_info" id="dt-opt_info" role="status" aria-live="polite">Showing @Begin to @End of @Total entries</div>
                            @if (TotalPage > 1)
                            {
                                <div class="dataTables_paginate paging_simple_numbers text-right" id="dt-opt_paginate">
                                    <a class="paginate_button previous @(Page == 1 ? "disabled" : "")" onclick="@(async () => { await ChangePage(Page - 1); })"
                                       aria-controls="dt-opt" data-dt-idx="0" tabindex="0" id="dt-opt_previous">
                                        Previous
                                    </a>
                                    <span>
                                        @foreach (var i in Enumerable.Range(1, TotalPage))
                                        {
                                            <a class="paginate_button @(i == Page ? "current" : "")" value="@i" onclick="@(async () =>
                                                                                                                           {
                                                                                                                               var currentIndex = i;
                                                                                                                               await ChangePage(currentIndex);
                                                                                                                           })"
                                               aria-controls="dt-opt" data-dt-idx="1" tabindex="0">
                                                @i
                                            </a>
                                        }
                                    </span>
                                    <a class="paginate_button next @(Page == TotalPage ? "disabled" : "")" onclick="@(async () => { await ChangePage(Page + 1); })"
                                       aria-controls="dt-opt" data-dt-idx="3" tabindex="0" id="dt-opt_next">
                                        Next
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        if (Loaded)
                        {
                            <NoData />
                        }
                        else
                        {
                            <Searching />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<AdminConfirmModal Id="delete-category" Title="Delete" Message="Do you really want to delete this category?" YesEventHandler=@((Func<Task>) Delete)></AdminConfirmModal>

<div class="modal fade validated-form" id="create-category">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>New Category</h4>
            </div>
            <form id="create-category-form">
                <div class="modal-body">
                    <div class="padding-15">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Name</label>
                                <input bind="@NewCategory" placeholder="Enter name" class="form-control" type="text" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-border">
                    <div class="text-right">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-sm" onclick="@Create">OK</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>