@page "/admin/manage-order"
@using Kalium.Client.Admin
@using Kalium.Shared.Consts
@inherits ManageOrderModel

<div class="container-fluid">
    <div class="page-title">
        <h4>Order</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-block dataTables_wrapper">
                    <div class="dataTables_length d-inline-block">
                        <label>
                            Sort:
                            <select name="dt-opt_length" aria-controls="dt-opt" onchange="@(async e =>
                                                                                            {
                                                                                                await ChangeSortType((Consts.SortType) int.Parse(e.Value.ToString()));
                                                                                            })">
                                <option value="@((int) Consts.SortType.Newness)"><a>Newest first</a></option>
                                <option value="@((int) Consts.SortType.Price)"><a>Highest price first</a></option>
                            </select>
                        </label>
                    </div>
                    <div class="dataTables_length d-inline-block">
                        <label>
                            Status:
                            <select name="dt-opt_length" aria-controls="dt-opt" onchange="@(async e =>
                                                                                            {
                                                                                                await FilterStatus(int.Parse(e.Value.ToString()));
                                                                                            })">
                                <option value="-1"><a>All</a></option>
                                <option value="@((int) Consts.OrderStatus.Processing)"><a>Processing</a></option>
                                <option value="@((int) Consts.OrderStatus.Delivering)"><a>Delivering</a></option>
                                <option value="@((int) Consts.OrderStatus.Delivered)"><a>Delivered</a></option>
                                <option value="@((int) Consts.OrderStatus.Cancelled)"><a>Cancelled</a></option>
                            </select>
                        </label>
                    </div>
                    <div id="dt-opt_filter" class="dataTables_filter d-inline-block float-right" style="top: 0; left: 0;">
                        <label>Date</label>
                        <input id="date-range-picker" class="form-control daterangepicker position-relative d-inline-block" style="top: 0; left: 0;" placeholder="Date range picker" type="text">
                    </div>
                    @if (Orders != null && Orders.Any())
                    {
                        <div class="table-overflow">
                            <table id="dt-opt" class="table table-lg table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Status</th>
                                    <th>User</th>
                                    <th>Date Created</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var order in Orders)
                                {
                                    <tr>
                                        <td>
                                            <div class="list-info mrg-top-10">
                                                @* <img class="thumb-img" src="@product.MainImage?.Url" alt=""> *@
                                                <div class="info pl-0">
                                                    <span class="title">
                                                        @order.Id
                                                    </span>
                                                    @* <span class="sub-title">ID @order.Id</span> *@
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15 dataTables_length">
                                                @if (order.Status == (int) Consts.OrderStatus.Processing)
                                                {
                                                    <span class="status primary"></span>
                                                }
                                                else if (order.Status == (int) Consts.OrderStatus.Delivering)
                                                {
                                                    <span class="status away"> </span>
                                                }
                                                else if (order.Status == (int) Consts.OrderStatus.Delivered)
                                                {
                                                    <span class="status online"> </span>
                                                }
                                                else if (order.Status == (int)Consts.OrderStatus.Cancelled)
                                                {
                                                    <span class="status danger"> </span>
                                                }
                                                <select name="dt-opt_length" class="ml-md-5" aria-controls="dt-opt" onchange="@(async e =>
                                                                                                                                {
                                                                                                                                    await Save(order, int.Parse(e.Value.ToString()));
                                                                                                                                })">
                                                        @if (order.Status == (int) Consts.OrderStatus.Processing)
                                                         {
                                                             <option selected value="@((int) Consts.OrderStatus.Processing)">Processing</option>
                                                         }
                                                         else
                                                         {
                                                             <option value="@((int) Consts.OrderStatus.Processing)">Processing</option>
                                                         }
                                                         @if (order.Status == (int) Consts.OrderStatus.Delivering)
                                                         {
                                                             <option selected value="@((int) Consts.OrderStatus.Delivering)">Delivering</option>
                                                         }
                                                         else
                                                         {
                                                             <option value="@((int) Consts.OrderStatus.Delivering)">Delivering</option>
                                                         }
                                                         @if (order.Status == (int) Consts.OrderStatus.Delivered)
                                                         {
                                                             <option selected value="@((int) Consts.OrderStatus.Delivered)">Delivered</option>
                                                         }
                                                         else
                                                         {
                                                             <option value="@((int) Consts.OrderStatus.Delivered)">Delivered</option>
                                                         }
                                                        @if (order.Status == (int) Consts.OrderStatus.Cancelled)
                                                        {
                                                            <option selected value="@((int) Consts.OrderStatus.Cancelled)">Cancelled</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@((int) Consts.OrderStatus.Cancelled)">Cancelled</option>
                                                        }
                                                </select>
                                                @* <span class="pdd-left-20">@(((Consts.OrderStatus) order.Status).Name())</span> *@
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <img height="25" class="thumb-img" style="margin-right: 10px;" src="@order.UserAvatar" alt="">
                                                <span class="text-info">@order.UserName</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span>@order.DateCreated.ToShortDateString()</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span><b>$@order.PostCouponTotal</b></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-10 text-center">
                                                <a href="/order/@order.Id" class="btn btn-icon btn-flat btn-rounded dropdown-toggle">
                                                    <i class="ti-new-window"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <div class="dataTables_info" id="dt-opt_info" role="status" aria-live="polite">Showing @Begin to @End of @Total entries</div>
                            @if (TotalPage > 1)
                            {
                                <div class="dataTables_paginate paging_simple_numbers text-right" id="dt-opt_paginate">
                                    <a class="paginate_button previous @(Page == 1 ? "disabled" : "")" onclick="@(async () => { await ChangePage(Page - 1); })"
                                       aria-controls="dt-opt" data-dt-idx="0" tabindex="0" id="dt-opt_previous">
                                        Previous
                                    </a>
                                    <span>
                                        @foreach (var i in Enumerable.Range(1, TotalPage))
                                        {
                                            <a class="paginate_button @(i == Page ? "current" : "")" value="@i" onclick="@(async () =>
                                                                                                                           {
                                                                                                                               var currentIndex = i;
                                                                                                                               await ChangePage(currentIndex);
                                                                                                                           })"
                                               aria-controls="dt-opt" data-dt-idx="1" tabindex="0">
                                                @i
                                            </a>
                                        }
                                    </span>
                                    <a class="paginate_button next @(Page == TotalPage ? "disabled" : "")" onclick="@(async () => { await ChangePage(Page + 1); })"
                                       aria-controls="dt-opt" data-dt-idx="3" tabindex="0" id="dt-opt_next">
                                        Next
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        if (Loaded)
                        {
                            <NoData />
                        }
                        else
                        {
                            <Searching />
                        }
                    }
               </div>
            </div>
        </div>
    </div>
</div>
<div id="daterange-notifier" class="d-none" onclick="@UpdateDateRange"></div>