@using Kalium.Shared.Consts
@using Kalium.Shared.Models
@page "/user/{UserName}/change-password"
@inherits Kalium.Client.Pages.UserPasswordModel
@layout MainLayout

<div class="container default-margin woocommerce-account">
    <div class="woocommerce">
        <ProfileSidebar User="@User" Username="@CurrentUser?.UserName"></ProfileSidebar>
        <div class="woocommerce-MyAccount-content">
            <div class="section-title">
                <h1>Change password</h1>
                @* <p>Edit your account details or change your password</p> *@
            </div>
            <form class="woocommerce-EditAccountForm edit-account" id="shipping-form" action="" method="post">
                <style id="labeled-input-row--width-group-1">
                    .labeled-input-row--width-group-1 .labeled-input-row--label {
                        min-width: 99px
                    }
                </style>
                <fieldset>
                    <style id="labeled-input-row--width-group-2">
                        .labeled-input-row--width-group-2 .labeled-input-row--label {
                            min-width: 136px
                        }
                    </style>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide labeled-input-row labeled-input-row--equal-width labeled-input-row--width-group-2">
                        <div class="labeled-input-row--label"><label for="password_current">Current password</label></div>
                        <input class="woocommerce-Input woocommerce-Input--password input-text" bind="@OldPassword"
                               name="password_current" id="password_current" autocomplete="off" type="password" required />
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide labeled-input-row labeled-input-row--wrap labeled-input-row--width-group-2">
                        <div class="labeled-input-row--label"><label for="password_1">New password</label></div>
                        <input class="woocommerce-Input woocommerce-Input--password input-text" data-rule-minlength="4" bind="@NewPassword"
                               name="password_1" id="new_password" autocomplete="off" type="password" />
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide labeled-input-row labeled-input-row--width-group-2">
                        <div class="labeled-input-row--label"><label for="password_2">Confirm new password</label></div>
                        <input class="woocommerce-Input woocommerce-Input--password input-text" data-rule-minlength="4" data-rule-equalto="#new_password" bind="@ConfirmPassword"
                               name="confirm_password" id="confirm_password" autocomplete="off" type="password" />
                    </p>
                    <p>
                        <button type="button" class="woocommerce-Button button" name="save_account_details" value="Save changes" onclick="@Save">Save changes</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div id="avatar-notice" class="hide">
    <input id="hidden-avatar" value="@User?.RealAvatar" />
</div>